{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Create Pin{% endblock %}

{% block body %}
<h1>Create Pin</h1>

{{ include('pins/_form.html.twig', {'submitButtonText': 'Créer le pin !'})}}

{% endblock %}
