{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} Edit Pin #{{ pin.title }}{% endblock %}

{% block body %}
<h1>Edit Pin #{{ pin.title }}</h1>

{{ include('pins/_form.html.twig', {'submitButtonText': 'Modifier !'})}}

{% endblock %}
